# Django setup in settings.py file for connectly_project directory
SECRET_KEY=
DEBUG=

# Used to verify the credentials in the created Google OAuth 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Instituion domain is setup to avoid any unknown users entered in here and for security purposes.
GOOGLE_ALLOWED_DOMAIN=